/*#########GENERAL##########*/

body {
	background-color: #c4c4c4;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 120%;
	position: fixed;
	width: 100%;
	height: 100%;
}



/* apply a natural box layout model to all elements */
*, *:before, *:after {
	  -moz-box-sizing: border-box; 
	  -webkit-box-sizing: border-box; 
	  box-sizing: border-box;
 }

/*########VARIOUS DIVS#########*/

.container {
	
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding: 10px;
	font-family: 'Seymour One', sans-serif;
	font-size: 300%;
	
}

.row {
	/*width: 100%;
	max-height: 33%;
*/
}

/*##########THE BOX##########*/

.box {
	display: inline-block;
	margin: .5% auto;
	position: relative;
/*	width: 25%;
	height: 45%;*/
	width: 14%;
	height: 25%;

	border-radius: 10%;
	background-color: #00b060;
	box-shadow: 2px 4px 2px .5px 0 #00733e;

}


/*#########THE CIRCLE###########*/

.circle {
	
	border-radius: 50%;
	border: 70px solid #e20048;
	position: relative;
	top: 7%;
	left: 7%;
	width: 85%;
	height: 85%;
	box-shadow: 0px 0px 3px 3px #e20048, 3px 3px 6px 6px #93002f;
}

.inner-circle {
	
	border-radius: 50%;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 3px 0px #00b060,  3px 3px 6px 6px #93002f;
}



/*##########THE X##########*/


.an_x1, 
.an_x1top,
.an_x2
{
    background: #8f00ff;
    position: absolute;
}

.an_x1 {
    height: 100%;
	left: 40%;
    top: 0%;
    -o-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    width: 18%;
    box-shadow: 0px 0px 3px 3px #7703d1, 6px 0px 6px 6px #5c00a4;
}

.an_x2 {
    height: 100%;
	left: 40%;
    top: 0%;
    -o-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    width: 18%;
    box-shadow: 0px 0px 3px 3px #7703d1, 0px 6px 6px 6px #5c00a4;
}


.an_x1top {
    height: 100%;
	left: 40%;
    top: 0%;
    -o-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    width: 20%;

}
/*
#######FLIP RELATED##########*/

.circle-flip {
	
	border-radius: 50%;
	border: 70px solid #e20048;
	padding-top: 5%;
	position: relative;
	top: 7%;
	left: 7%;
	width: 85%;
	height: 85%;
	box-shadow: 0px 0px 3px 3px #e20048, 3px 3px 6px 6px #93002f;
}

.box-for-flipper {
	display: inline-block;
	/*margin: .5% auto;*/
	/*position: relative;*/
/*	width: 25%;
	height: 45%;*/
	width: 14%;
	height: 25%;


}


  .flipper-box {
	width: 100%;
	height: 100%;
	border-radius: 10%;
	background-color: #00b060;
	box-shadow: 2px 4px 2px .5px 0 #00733e;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

}


  .word-box {
	width: 100%;
	height: 100%;
	border-radius: 10%;
	background-color: #e20048;
	box-shadow: 2px 4px 2px .5px 0 #93002f;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

}

  .flipper-box:hover .flipper,  
  .flipper-box.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

 /* position: relative;*/
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: relative;
  top: -7;
  left: 0;
}

.front {
  /*background-color: red; */
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

 /* background: #f8f8f8;*/
}


/*##########Animation of our shapes##########*/



/* opacity 0 (invisible) to opacity 1 (solid) */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade_layer {
    opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade_layer.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade_layer.two {
-webkit-animation-delay: 2s;
-moz-animation-delay:2s;
animation-delay: 2s;
}
 
.fade_layer.three {
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
animation-delay: 4s;
}


.fade_layer.four {
-webkit-animation-delay: 7s;
-moz-animation-delay: 7s;
animation-delay: 7s;
}

.fade_layer.five {
-webkit-animation-delay: 9s;
-moz-animation-delay: 9s;
animation-delay: 9s;
}
